@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 75, 0, 130; /* Dark purple */
  --background-end-rgb: 139, 69, 19;  /* Brown */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;  /* Warna awal latar belakang diatur menjadi hitam */
    --background-end-rgb: 0, 0, 0;    /* Warna akhir latar belakang diatur menjadi hitam */
  }
}


body {
  color: #ffffff;
  background: url("http://getwallpapers.com/wallpaper/full/9/9/b/1118561-gorgerous-future-city-wallpaper-1920x1080-hd-for-mobile.jpg");
  font-family: 'Arial', sans-serif;
}

.container.movie-card {
  background-color: rgb(151, 72, 88);
  }

.font-container{
  background-color: rgb(151, 72, 88);
    width: 100%;
    height: 12,5vh;
    border-radius: 50px;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
}


.movie-card {
  background-color: rgba(0, 0, 0, 0.6); 
  border: none;
  border-radius: 10px; /* Sudut melengkung */
  overflow: hidden; /* Untuk menghindari konten meluap */
  color: white; /* Warna teks putih */
  padding: 15px;
  margin: 10px;
  width: 200px; /* Sesuaikan lebar sesuai kebutuhan */
  position: relative; /* Untuk posisikan elemen secara absolut di dalam kartu */
}

.bg-body-tertiary {
  background-color: #808080;
}

.bg-info{
  border-color: none;
}



.movie-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.movie-rating {
  display: flex;
  align-items: center;
}

.movie-rating span {
  margin-right: 5px;
}

.movie-rating .star {
  color: gold;
}

.watch-now-button {
  background-color: #ff0055; 
  color: white; /* Warna teks putih */
  border: none; /* Menghilangkan border default */
  border-radius: 20px; /* Sudut melengkung */
  padding: 10px 20px;
  font-size: 1em;
  text-align: center;
  display: block;
  margin: 10px auto 0;
  cursor: pointer; /* Mengubah kursor saat hover */
}


    

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Star rating wrapper */
.star-rating {
  direction: rtl; /* Reverse direction for correct highlighting */
  font-size: 0; /* Remove space between inline-block elements */
  unicode-bidi: bidi-override; /* For correct star order */
}

/* Hide radio button */
.star-rating input[type="radio"] {
  display: none;
}

/* Star appearance */
.star-rating label {
  font-size: 2rem; /* Star size */
  color: #ccc; /* Default star color */
  cursor: pointer;
  display: inline-block;
}

/* Highlighting stars on hover */
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: #f5a623; /* Highlight color */
}

.gradient-custom {
  /* fallback for old browsers */
  background: #db66ea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(219,102,234,0.5), rgba(222,206,237,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(219,102,234,0.5), rgba(222,206,237,0.5))
}

